// .example-card {
//   max-width: 400px;
// }

// .example-header-image {
//   background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
//   background-size: cover;
// }
// /*
// Source - https://stackoverflow.com/a/52800707
// Posted by Chief Madog
// Retrieved 2026-05-26, License - CC BY-SA 4.0
// */

// .post-div{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.post {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
}

.post-image {
  width: 100%;
  max-width:fit-content;
  margin-top: 8px;
}
mat-card-header{
  background-color: rgba(0, 255, 255, 0.164);
}
.post-like-button{
  background-color: rgba(215, 218, 250, 0.849);
}