.post {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
}

.post-image {
  width: 100%;
  max-width: fit-content;
  margin-top: 8px;
}
mat-card-header {
  background-color: rgba(0, 255, 255, 0.164);
}
.post-like-button {
  background-color: rgba(215, 218, 250, 0.849);
}
