<mat-toolbar class="toolbar">
  <button matIconButton class="example-icon" aria-label="Icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="toolbar-center">
    <a routerLink="/" class="app-title">tweexxtter</a>
  </div>
  <span class="example-spacer"></span>

  <div class="profile">
    <mat-card routerLink="/profile" >
      <mat-card-header>
        <img mat-card-avatar [src]="user()?.avatarUrl" alt="avatar"/>
        <mat-card-title>
          {{ user()?.name }}
        </mat-card-title>
</mat-card-header></mat-card>
  </div>
</mat-toolbar>