
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.example-spacer {
  flex: 1 1 auto;
}


.app-title {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.profile{
    cursor: pointer;
}
.post {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
}

.post-img {
  width: 100%;
  max-width: 200px;
  margin-top: 8px;
}

