
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.example-spacer {
  flex: 1 1 auto;
}


.app-title {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

